body {
  font-size: larger;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input#search {
  width: 400px;
  height: 30px;
  padding: 10px;
  margin: 20px 0px;
}

#list ul {
  list-style: none;
  padding: 0;
}

li {
  border: 1px #ccc solid;
  width: 400px;
  height: 30px;
  padding: 10px;
}

#list img {
  width: 32px;
  height: 32px;
}
